/*!
 * 	LD35 entry for theme shapeshift.
 *	Copyright 2016, Hakan Staby
 */
 
 body {
	text-align: center;	
	font-family: 'Orbitron', serif;
	background: #a46740;
	color: #ccc;
	text-shadow: 0 1px 0 #222;
}

h1 {
	font-weight: bold;
	text-shadow: 0 2px 0 #222;
}

a, a:visited {
	color: #aea;
	text-decoration: none;	
	-webkit-transition: all .3s;
	padding: 5px;
}

a:hover {
	color: #000;
	background: #aea;
	text-shadow: none;
}

#game {
	/*border-radius: 10px;*/
	border: 3px solid #fff;
	-webkit-box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0 1px 6px #000;
	
	position: relative;
	/*background: #232 url(../images/bg.jpg);*/
	width: 800px;
	height: 600px;
	margin: 0 auto;
	
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;	
}
